DB_HOST="localhost"
DB_USUARIO="root"
DB_SENHA=""
DB_BASE="suamadeira"

EMAIL_HOST=""
EMAIL_USUARIO=""
EMAIL_SENHA=""
EMAIL_PROTOCOLO_SEGURANCA="ENCRYPTION_STARTTLS"
# EMAIL_PROTOCOLO_SEGURANCA="ENCRYPTION_SMTPS"
EMAIL_PORTA=""